/*Global*/
html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #2D2D2D;
  }


/*header*/  
  /* .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  } */

  .navbar{
    padding-top: 11px;
    padding-bottom:11px;
    background-color: #ffffff;
    box-shadow: 0px 4px 56px rgba(26, 26, 26, 0.12);
    padding-right: 24px;
    padding-left: 24px;
   

  }

  .nav-link{
    color: #32393D;
    font-size: 16px;
    letter-spacing: 0.04em;
    transition: all .3s ease-out;
    font-weight: 400;
  }

  .nav-item{
    padding-left: 16px; 
  }

  .nav-link:hover{
    color: #2A76F3;   
    }

  .active{
    font-weight: 500;
  }

  /*about-us*/
  .about{
    padding-top: 0px; 
    padding-bottom: 0px;
    margin-top: 32px;
    margin-bottom: 24px;
    padding-left: 18%;
    padding-right: 0px;
    padding-left: 18%; 
  }
  .title {
    font-weight: 500;
     
  }
  .display-3 {
    min-width: 31%;
    margin: auto;
    font-size: 150%;
    line-height: 140%;
    letter-spacing: 0.03em;
    padding-bottom: 16px;
  }

  .about-me, .experience   {
      padding-top: 32px; 
  }