/*Global-style*/
/* * {
    margin: 0px;
    padding: 0px;
  } */
html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #2B2F34;
  }
 
.navbar {
   /* height: 80px; */
   padding-top: 11ppx;
   padding-bottom:11ppx;
   background-color: #ffffff;
   box-shadow: 0px 4px 56px rgba(26, 26, 26, 0.12);
 }

.nav-link{
  color: #2B2F34;
  font-size: 14px;
  letter-spacing: 0.04em;
  transition: all .3s ease-out;
  font-weight: 400;
 }

.nav-link:hover{
  color: #000000;
  text-decoration: underline;    
  }

/* hero-section */

.jumbotron{
    background-color: white;
    padding-top: 64px; 
    padding-bottom: 24px;
  }

.display-3 {
    min-width: 424px;
    margin: auto;
    font-size: 150%;
    line-height: 140%;
    letter-spacing: 0.03em;
    padding-bottom: 24px;
  }

#get-in-touch {
    background-color: #2B2F34;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    transition: all .3s ease-out;
    
  }

#get-in-touch:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32);
  
  }

.social {
    margin-top: 16px;
    
  }

.list-inline-item a{
    font-size: 14px;
    color: #2B2F34;
  }

  #scroll-down{
    margin-top: 160px;
  }


  /* portfolio-section */
.display-4 {
  font-size: 100%;
  margin-bottom: 24px;
  margin-top: 48px;
  }
.card {
  width: 80%;
  margin: auto;
}
    


  
/* -------------------------------- */



  /*header*/






  /*hero*/

  .hero-image{
    padding-top: 160px;
    text-align: center;
  }



  .name{
    font-weight: 700;
  }

  button {
    margin-top
  }

 
